<h1 class="mt-1">Добавить категорию</h1>

<form action="/categories" method="POST" class="flex flex-col mt-1" style="gap: .5rem;">
  <label for="title">Название:</label>
  <div class="input">
    <input type="text" id="name" name="name" required>
  </div>
  
  <div class="custom-checkbox">
  <label>
    <input type="checkbox" class="checkbox-hidden" id="is_active" name="is_active">
    <span class="checkbox-custom"></span>
    Доступность
  </label>
  </div>

  <button type="submit">Добавить</button>
</form>