<h1>Рецепты с категорией</h1>

<ul>
  <% recipes.each do |recipe| %>
    <div style="border: 1px solid #000; margin-bottom: 10px; padding: 10px;">
      <a href="/recipes/<%= recipe[:id] %>">
        <li>Название: <%= recipe[:title] %></li>
        <li>Время приготовления: <%= recipe[:preparation_time] %> минут</li>
      </a>
    </div>
  <% end %>
</ul>